/* PROPIEDADES GRID */
.grid-propiedades{
    /* alineacion horizontal x */
    justify-items: start;
    justify-items: center;
    justify-items: end;
    justify-items: stretch; /* ocupa todo el espacio disponible */

    /* alineacion vertical y */
    align-items: start;
    align-items: center;
    align-items: end;
    align-items: stretch; /* ocupa todo el espacio */

    /* alinear la cuadricula dentro del contenedor horizontal */
    justify-content: start;
    justify-content: center; 
    justify-content: end;
    justify-content: space-around; /* separa columnas agrega espacio entre las columnas y deja un spacio al inicio y fin */
    justify-content: space-between; /* coloca la columna incial y final al borde y agrega espacio entre las columnas */
    justify-content: space-evenly; /* agrega espacios iguales entre columnas al inicio entre columnas y al final */
    
    /* alinear la cuadricula dentro del contenedor vertical */
    align-content: start;
    align-content: center;
    align-content: end;
    align-content: space-around;
    align-content: space-between;
    align-content: space-evenly;

    /* alinear la cuadricula dentro del contenedor al centro centro */
    place-content: center center;

    /* desde donde queremos que parta la columna */
    grid-column-start: 1; 
    grid-column-end: 3;
    grid-column-end: span 2; /* que ocupe 2 pisiciones */
    grid-column: 1 / span 2; /* de esta manera simplificamos el inicio de la posicion y el final */

    /* para las filas */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-row: nombre / nombre; /* de esta manera simplificamos el inicio de la posicion y el final */
    grid-row: 2 / span 1; /* de esta manera simplificamos el inicio de la posicion y el final */

    /* podemos hacer referencia a la linea */
    grid-row-start: nombre;
    grid-row-end: nombre;

}
