                  
    <!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <link rel="icon" type="image/png" href="../img/ico.png">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/gh/QuicklyCSS/Quickly@main/dist/v-1/css/quickly.min.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/gh/QuicklyCSS/Quickly@main/dist/v-1/js/quicklyComp.min.js"></script>
            <title>Quickly: Plantilla Página de Video</title>
            <meta name="description" content="Quickly: El framework CSS potenciado por CSS Grid que agiliza el desarrollo web con su enfoque modular y flexible. Crea diseños modernos y responsivos de manera rápida y eficiente.">
        </head>
        <body id="inicio" class="grid g-5 gm-2">                                                                                          
            <!-- MENÚ -->
            <header class="cont-100 bg-gray-4 sticky-t border-b shadow-l">
                <nav class="navbar cont-90 cont-m-100">
                    <div class="navbar-container grid space-hb" id="navbar4">
                        <div class="navbar-header grid space-hb">
                            <button class="navbar-toggle mml-1" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>   
                            <div class="grid align-content-hc">
                                <svg class="ico-primary  mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.266 7l12.734-2.625-.008-.042-1.008-4.333-21.169 4.196c-1.054.209-1.815 1.134-1.815 2.207v14.597c0 1.657 1.343 3 3 3h18c1.657 0 3-1.343 3-3v-14h-12.734zm8.844-5.243l2.396 1.604-2.994.595-2.398-1.605 2.996-.594zm-5.898 1.169l2.4 1.606-2.994.595-2.401-1.607 2.995-.594zm-5.904 1.171l2.403 1.608-2.993.595-2.406-1.61 2.996-.593zm-2.555 5.903l2.039-2h3.054l-2.039 2h-3.054zm4.247 10v-7l6 3.414-6 3.586zm4.827-10h-3.054l2.039-2h3.054l-2.039 2zm6.012 0h-3.054l2.039-2h3.054l-2.039 2z"/></svg>
                                <a href="#" class="navbar-brand mmr-2"><img src="../img/Logo-Quickly-opcion-2.png" title="Logo" class="w-100 mr-1"></a>    
                            </div>
                        </div>
                        <div class="navbar-collapse" id="navbar-collapse4">
                            <ul class="navbar-nav">
                                <li><a href="#"><span class="color-gray-8">Inicio</span></a></li>
                                <li>
                                    <a href="#" aria-haspopup="true" aria-expanded="false"><span class="color-gray-8">Películas</span> <svg class="ml-1 ico-8 ico-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg></a>
                                    <ul>
                                        <li><a href="#"><span class="color-gray-4">Películas 1</span></a></li>
                                        <li><a href="#"><span class="color-gray-4">Películas 2</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" aria-haspopup="true" aria-expanded="false"><span class="color-gray-8">Series</span> <svg class="ml-1 ico-8 ico-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg></a>
                                    <ul>
                                        <li><a href="#"><span class="color-gray-4">Series 1</span></a></li>
                                        <li><a href="#"><span class="color-gray-4">Series 2</span></a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><span class="color-gray-8">Niños</span></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <!-- TITULO SECCIÓN -->
            <section class="cont-90 px-5 cont-s-100 cont-m-100 grid pm-2 pmb-0">
                <div class="grid align-ve h-450 bg-gray-4 rounded p-4 border">
                    <div class="wp-50 wmp-100 grid g-2">
                        <h1 class="font-l color-gray-8">Título</h1>
                        <p class="color-gray-7">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>                        
                        <button class="btn btn-light-outline">Ver Película <svg class="ico-16 ico-light" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 22v-20l18 10-18 10z"/></svg></button>
                    </div>
                </div>
            </section>
                        
            <!-- TITULO SECCIÓN -->
            <section class="cont-90 px-5 cont-s-100 cont-m-100 grid pm-2 pmb-0">
                <h2 class="pb-2 font-l color-gray-4">Título</h2>
                <div class="grid scroll-a g-2 gm-2 align-content-hl pb-2 bg-gra rounded">
                    <div class="rounded w-300">
                        <div class="video-v rounded border">
                            <iframe src="https://www.youtube.com/embed/klvIA7d0Y6Q" title="Quickly CSS Grid" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>   
                    <div class="rounded w-300">
                        <div class="video-v rounded border">
                            <iframe src="https://www.youtube.com/embed/klvIA7d0Y6Q" title="Quickly CSS Grid" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video-v rounded border">
                            <iframe src="https://www.youtube.com/embed/klvIA7d0Y6Q" title="Quickly CSS Grid" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video-v rounded border">
                            <iframe src="https://www.youtube.com/embed/klvIA7d0Y6Q" title="Quickly CSS Grid" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video-v rounded border">
                            <iframe src="https://www.youtube.com/embed/klvIA7d0Y6Q" title="Quickly CSS Grid" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video-v rounded border">
                            <iframe src="https://www.youtube.com/embed/klvIA7d0Y6Q" title="Quickly CSS Grid" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video-v rounded border">
                            <iframe src="https://www.youtube.com/embed/klvIA7d0Y6Q" title="Quickly CSS Grid" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video-v rounded border">
                            <iframe src="https://www.youtube.com/embed/klvIA7d0Y6Q" title="Quickly CSS Grid" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>                                                                                                                                                                                
                </div>
            </section>          

            <!-- TITULO SECCIÓN -->
            <section class="cont-90 px-5 cont-s-100 cont-m-100 grid pm-2 pmb-0">
                <h2 class="pb-2 font-l color-gray-4">Título</h2>
                <div class="grid item-3 item-s-1 item-m-2 g-2">
                    <!-- TITULO SECCIÓN -->
                    <div class="col-2 col-s-1 col-m-1 grid align-ve bg-gray-10 rounded color-gray p-3 border">
                        <div class="wp-50 wmp-100 grid g-2">
                            <h3 class="font-l font-s-1 color-gray-4">Título 1</h3>
                            <p class="color-gray-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>                        
                            <button class="btn btn-dark">Ver Película <svg class="ico-16 ico-dark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 22v-20l18 10-18 10z"/></svg></button>
                        </div>
                    </div>
                    <div class="col-1 grid g-2">
                        <!-- TITULO SECCIÓN -->
                        <div class="col-1 col-m-1 grid align-ve bg-gray-10 rounded color-gray p-3 border">
                            <div class="grid g-2">
                                <h3 class="font-l font-s-1 color-gray-4">Título 2</h3>
                                <p class="color-gray-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>                        
                                <button class="btn btn-dark">Ver Película <svg class="ico-16 ico-dark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 22v-20l18 10-18 10z"/></svg></button>
                            </div>
                        </div>   
                        <!-- TITULO SECCIÓN -->
                        <div class="col-1 col-m-1 grid align-ve bg-gray-10 rounded color-gray p-3 border">
                            <div class="grid g-2">
                                <h3 class="font-l font-s-1 color-gray-4">Título 3</h3>
                                <p class="color-gray-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>                        
                                <button class="btn btn-dark">Ver Película <svg class="ico-16 ico-dark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 22v-20l18 10-18 10z"/></svg></button>
                            </div>
                        </div>      
                    </div>                 
                </div>                            
            </section>

            <!-- TITULO SECCIÓN -->
            <section class="cont-90 px-5 cont-s-100 cont-m-100 grid pm-2 pmb-0">
                <h2 class="pb-2 font-l color-gray-4">Título</h2>
                <div class="grid item-2 item-s-1 g-2">
                    <div class="video rounded border">
                        <iframe src="https://www.youtube.com/embed/98Tcz6PESaE?si=2s0hf5YLe2pTt6-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    </div>   
                    <div class="video rounded border">
                        <iframe src="https://www.youtube.com/embed/98Tcz6PESaE?si=2s0hf5YLe2pTt6-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    </div>                                                                                                                                                                                                         
                </div>
            </section>              
            
            <!-- TITULO SECCIÓN -->
            <section class="cont-90 px-5 cont-s-100 cont-m-100 grid pm-2 pmb-0">
                <h2 class="pb-2 font-l color-gray-4">Título</h2>
                <div class="grid scroll-a g-2 gm-2 align-content-hl pb-2 bg-gra rounded">
                    <div class="rounded w-300">
                        <div class="video rounded border">
                            <iframe src="https://www.youtube.com/embed/98Tcz6PESaE?si=2s0hf5YLe2pTt6-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                        </div>
                    </div>   
                    <div class="rounded w-300">
                        <div class="video rounded border">
                            <iframe src="https://www.youtube.com/embed/98Tcz6PESaE?si=2s0hf5YLe2pTt6-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video rounded border">
                            <iframe src="https://www.youtube.com/embed/98Tcz6PESaE?si=2s0hf5YLe2pTt6-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video rounded border">
                            <iframe src="https://www.youtube.com/embed/98Tcz6PESaE?si=2s0hf5YLe2pTt6-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video rounded border">
                            <iframe src="https://www.youtube.com/embed/98Tcz6PESaE?si=2s0hf5YLe2pTt6-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video rounded border">
                            <iframe src="https://www.youtube.com/embed/98Tcz6PESaE?si=2s0hf5YLe2pTt6-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video rounded border">
                            <iframe src="https://www.youtube.com/embed/98Tcz6PESaE?si=2s0hf5YLe2pTt6-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                        </div>
                    </div>  
                    <div class="rounded w-300">
                        <div class="video rounded border">
                            <iframe src="https://www.youtube.com/embed/98Tcz6PESaE?si=2s0hf5YLe2pTt6-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                        </div>
                    </div>                                                                                                                                                                                
                </div>
            </section>   
            
            <!-- TITULO SECCIÓN -->
            <section class="cont-90 px-5 cont-s-100 cont-m-100  pm-2 pmb-0">
                <h2 class="pb-2 font-l color-gray-4">Título</h2>
                <div class="grid item-2 item-s-1 g-2">
                    <div class="grid align-ve h-350 bg-gray-10 rounded color-gray p-4 border">
                        <div class="grid g-2">
                            <h3 class="font-l font-s-1 color-gray-4">Título</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>                        
                            <button class="btn btn-dark">Ver Película <svg class="ico-16 ico-dark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 22v-20l18 10-18 10z"/></svg></button>
                        </div>
                    </div>
                    <div class="grid align-ve h-350 bg-gray-10 rounded color-gray p-4 border">
                        <div class="grid g-2">
                            <h3 class="font-l font-s-1 color-gray-4">Título</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>                        
                            <button class="btn btn-dark">Ver Película <svg class="ico-16 ico-dark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 22v-20l18 10-18 10z"/></svg></button>
                        </div>
                    </div>
                </div>
            </section>            

            <!-- FOOTER -->
            <footer class="cont-100 cont-s-100 cont-m-100 py-2 pm-2 bg-gray-10 border-t mt-5">
                <section class="cont-90 px-5">
                    <div class="grid text-ac space-hb">                                             
                        <div>
                            <small class="text-ac my-2 color-black"><strong class="text-quickly" >Quickly</strong> 2024 Licenciado bajo <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank"><strong class="color-black">CC BY-SA 4.0</strong></a> Creative Commons </small>                     
                        </div>
                        <div> 
                            <a href="#inicio" target="_self" class="button" role="button" aria-label="Subir">
                                <svg class="ico-24 ico-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-labelledby="title">
                                    <title id="title">Icono de Subir</title>
                                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 7.58l5.995 5.988-1.416 1.414-4.579-4.574-4.59 4.574-1.416-1.414 6.006-5.988z"/>
                                </svg>
                            </a>
                        </div>                             
                    </div>                
                </section>
            </footer>                         
        </body>
    </html>
                                