                  
    <!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <link rel="icon" type="image/png" href="../img/ico.png">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="../css/quickly.css" rel="stylesheet">
            <!--link href="https://cdn.jsdelivr.net/gh/QuicklyCSS/Quickly@main/dist/v-1/css/quickly.min.css" rel="stylesheet"-->
            <script src="https://cdn.jsdelivr.net/gh/QuicklyCSS/Quickly@main/dist/v-1/js/quicklyComp.min.js"></script>
            <title>Quickly: Plantilla Página de aterrizaje</title>
            <meta name="description" content="Quickly: El framework CSS potenciado por CSS Grid que agiliza el desarrollo web con su enfoque modular y flexible. Crea diseños modernos y responsivos de manera rápida y eficiente.">
        </head>
        <body id="inicio">  
            <!-- HEADER -->           
            <header class="sticky-t unfixed-m">
                <!-- LOGO -->
                <div class="m-auto grid align-cc p-1 bg-maya-blue-5">
                    <a href="#" class="navbar-brand mmr-2"><img src="../img/Logo-Quickly.png" title="Logo" class="w-150"></a>       
                </div>   
                <!-- MENÚ -->
                <nav class="navbar bg-lightblue border-b mb-4">
                    <div class="navbar-container grid align-content-hc" id="navbar1">
                        <div class="navbar-header">
                            <button class="navbar-toggle" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse" id="navbar-collapse1">
                            <ul class="navbar-nav">
                                <li><a href="#">Tecnología</a></li>
                                <li><a href="#">Ciencia</a></li>
                                <li><a href="#">Cine</a></li>
                                <li><a href="#">Actualidad</a></li>
                                <li><a href="#">Ultima Hora</a></li>
                                <li><a href="#">Espacio</a></li>
                                <li><a href="#">Mobiles</a></li>
                                <li><a href="#">Autos</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <!-- CONTENEDOR GENERAL -->
            <section class="cont-80 cont-m-90 grid g-5">
                <!-- TITULO SECCIÓN -->
                <section class="grid align-vc h-350 bg-lightblue rounded text-c-white p-4 ">
                    <div class="wp-50 wmp-100 grid g-2">
                        <h1 class="font-b">Título Blog</h1>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>                        
                        <button class="btn btn-light-outline">Más Información</button>
                    </div>
                </section>

                <!-- TARJETAS 25% -->
                <section class="grid item-2 item-s-1 item-m-1 g-5">
                    <!-- Tarjeta 75% derecha -->     
                    <article class="card-h card-hl-25 bg-white-1">                                               
                        <div class="card-h-cont">
                            <div class="text-ar">
                                <h3 class="font-n">Titulo tarjeta 75% horizontal derecha</h3>        
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>                                                                                        
                            </div>                                
                            <div class="card-footer grid align-he">
                                <time class="my-1" datetime="2024-03-25"><small aria-label="Fecha de publicación">25 de marzo de 2024</small></time>                                                          
                                <div>
                                    <button class="btn btn-secondary">Botón</button>
                                </div>   
                            </div>
                        </div>   
                        <img src="../img/png/500x500.png" alt="Descripción de la imagen" class="bg-lightblue"> 
                    </article>
                
                    <!-- Tarjeta 75% derecha -->     
                    <article class="card-h card-hl-25 bg-white-1">                                               
                        <div class="card-h-cont">
                            <div class="text-ar">
                                <h3 class="font-n">Titulo tarjeta 75% horizontal derecha</h3>        
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>                                                                                        
                            </div>                                
                            <div class="card-footer grid align-he">
                                <time class="my-1" datetime="2024-03-25"><small aria-label="Fecha de publicación">25 de marzo de 2024</small></time>                                                          
                                <div>
                                    <button class="btn btn-secondary">Botón</button>
                                </div>   
                            </div>
                        </div>   
                        <img src="../img/png/500x500.png" alt="Descripción de la imagen" class="bg-lightblue"> 
                    </article>                
                </section>

                <!-- CONTENEDOR -->
                <section class="grid item-5 item-s-1 item-m-1 g-5 mb-5">
                    <div class="col-4 col-s-1 col-m-1 grid g-5">
                        <section>
                            <h3 class="mb-2">Titulo Sección</h3>
                            <div class="grid item-2 item-s-1 item-m-1 g-4">
                                <article class="grid align-content-hc align-vc g-2 border rounded">
                                    <div class="wp-100 bg-lightblue rounded-l ">
                                        <img src="../img/png/500x500.png" class="img-fluid">
                                    </div>                              
                                    <div class="wp-100">
                                        <h3>Título 1</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                        <button class="btn btn-secondary hide-s">Más Info</button>
                                    </div>
                                </article>
                                <article class="grid align-content-hc align-vc g-2 border rounded">
                                    <div class="wp-100 bg-lightblue rounded-l ">
                                        <img src="../img/png/500x500.png" class="img-fluid">
                                    </div>                              
                                    <div class="wp-100">
                                        <h3>Título 1</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                        <button class="btn btn-secondary hide-s">Más Info</button>
                                    </div>
                                </article>
                                <article class="grid align-content-hc align-vc g-2 border rounded">
                                    <div class="wp-100 bg-lightblue rounded-l ">
                                        <img src="../img/png/500x500.png" class="img-fluid">
                                    </div>                              
                                    <div class="wp-100">
                                        <h3>Título 1</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                        <button class="btn btn-secondary hide-s">Más Info</button>
                                    </div>
                                </article>
                                <article class="grid align-content-hc align-vc g-2 border rounded">
                                    <div class="wp-100 bg-lightblue rounded-l ">
                                        <img src="../img/png/500x500.png" class="img-fluid">
                                    </div>                              
                                    <div class="wp-100">
                                        <h3>Título 1</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                        <button class="btn btn-secondary hide-s">Más Info</button>
                                    </div>
                                </article>
                                <article class="grid align-content-hc align-vc g-2 border rounded">
                                    <div class="wp-100 bg-lightblue rounded-l ">
                                        <img src="../img/png/500x500.png" class="img-fluid">
                                    </div>                              
                                    <div class="wp-100">
                                        <h3>Título 1</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                        <button class="btn btn-secondary hide-s">Más Info</button>
                                    </div>
                                </article>
                                <article class="grid align-content-hc align-vc g-2 border rounded">
                                    <div class="wp-100 bg-lightblue rounded-l ">
                                        <img src="../img/png/500x500.png" class="img-fluid">
                                    </div>                              
                                    <div class="wp-100">
                                        <h3>Título 1</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                        <button class="btn btn-secondary hide-s">Más Info</button>
                                    </div>
                                </article>                                                                                                                                                                


                            </div>
                        </section>
                        <!-- Tarjeta Dos -->   
                        <section class="card">
                            <div class="card-cont">
                                <div class="card-body">
                                    <h3 class="font-n">Título.</h3>                                                       
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                </div>  
                                <div class="card-footer grid align-hs">
                                    <time class="my-1" datetime="2024-03-25"><small aria-label="Fecha de publicación">25 de marzo de 2024</small></time>                                                          
                                    <button class="btn-link">Ver más info</button> 
                                </div>
                            </div>                                                                                   
                        </section>   
                    </div>
                    <aside class="col-1 col-s-1 w-300 wmp-100">
                        <h3 class="mb-2">Titulo Sección</h3>
                        <div class="grid g-5">
                            <!-- Tarjeta Dos -->   
                            <section class="card bg-gray-5">
                                <div class="card-cont">
                                    <div class="card-body">
                                        <h3 class="font-n">Título.</h3>                                                       
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    </div>  
                                    <div class="card-footer grid align-hs">
                                        <time class="my-1" datetime="2024-03-25"><small aria-label="Fecha de publicación">25 de marzo de 2024</small></time>                                                          
                                        <button class="btn-link">Ver más info</button> 
                                    </div>
                                </div>                                                                                   
                            </section>   
                            <section>
                                <h3 class="mb-2">Titulo Sección</h3>  
                                <div class="collection rounded border">
                                    <ul>
                                        <li><a href="#" class="collection-item">Noticias <span class="badge-col-info" aria-label="...">5 Nuevos</span></a></li>
                                        <li><a href="#" class="collection-item">Ciencia <span class="badge-col-danger" aria-label="...">2 Ultima Hora</span></a></li>
                                        <li><a href="#" class="collection-item">Directo <span class="badge-col-warning" aria-label="...">Alerta</span></a></li>
                                        <li><a href="#" class="collection-item">Actualidad </a></li>       
                                        <li><a href="#" class="collection-item">Última Hora </a></li>    
                                        <li><a href="#" class="collection-item">Espacio </a></li>    
                                        <li><a href="#" class="collection-item">Mobiles </a></li>    
                                        <li><a href="#" class="collection-item">Autos </a></li>    
                                        <li><a href="#" class="collection-item">Cine </a></li>                                 
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </aside>
                </section>

            </section>
            

            <!-- FOOTER -->
            <footer class="cont pm-2 bg-lightblue border-t">
                <section class="my-2 mmy-2">
                    <div class="grid space-ha">
                        <small class="text-ac my-2 text-c-black"><strong class="text-quickly" >Quickly</strong> 2024 Licenciado bajo <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank"><strong class="text-c-black">CC BY-SA 4.0</strong></a> Creative Commonds </small>                     
                        <a href="#inicio" target="_self" class="button" role="button" aria-label="Subir">
                            <svg class="ico-24 ico-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-labelledby="title">
                                <title id="title">Icono de Subir</title>
                                <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 7.58l5.995 5.988-1.416 1.414-4.579-4.574-4.59 4.574-1.416-1.414 6.006-5.988z"/>
                            </svg>
                        </a>                            
                    </div>                
                </section>
            </footer>                         
        </body>
    </html>
                                